body{
    overflow: hidden;
    text-align: center;
}
#game-space{
    /* display: grid;
    grid-template-columns: repeat(19, auto); */
    left: 0;
    margin-left: auto;
    margin-right: auto;
    border: black solid 1px;

}
